<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>学生成绩管理系统</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png" th:href="@{/assets/i/favicon.png}">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png" th:href="@{assets/i/app-icon72x72@2x.png}">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="assets/css/amazeui.min.css"  th:href="@{/assets/css/amazeui.min.css}"/>
<link rel="stylesheet" href="assets/css/admin.css" th:href="@{/assets/css/admin.css}"/>
<script src="assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
</head>
<body>
<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->


</head>

<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="assets/i/logo.png"></div>
</header>

<div class="am-cf admin-main"> 

	<div class="nav-navicon admin-main admin-sidebar">
    

   		 <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;" th:text="${session.uname}"> 用户名</div>
  	     <div class="sideMenu">
      		<h3 class="am-icon-flag"><em></em> <a href="/admindex">班级管理</a></h3>
      		
      		<ul>
       		 	<li><a href="/admindex">班级列表</a></li>
       		 	<li><a href="/postclass">添加班级</a></li>
      		</ul>
      		<h3 class="am-icon-cart-plus on"><em></em> <a href="/teacher">权限管理</a></h3>
      		<ul>
      		  <li><a href="/teacher">责任班级</a></li>
        	  <li><a href="/addteachclass">分配班级</a></li>
        
      		</ul>
     		<h3 class="am-icon-users"><em></em> <a th:href="@{/upsuper/}+${session.uname}">用户管理</a></h3>
      		<ul>
      			<li><a th:href="@{/upsuper/}+${session.uname}">修改密码</a></li>
        		<li><a href="/teachermanage">查看老师</a></li>
        		<li><a href="/postteacher">添加老师</a></li>
      		</ul>
      		<h3 class="am-icon-cog"><em></em> <a href="/adminrepos"> 系统设置</a></h3>
      		<ul>
      		  <li><a href="/adminrepos">查看所有班级仓库</a></li>
      		 </ul> 
     
    </div>
    <!-- sideMenu End --> 
    
    	<script type="text/javascript">
			jQuery(".sideMenu").slide({
				titCell:"h3", //鼠标触发对象
				targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
				effect:"slideDown", //targetCell下拉效果
				delayTime:300 , //效果时间
				triggerTime:150, //鼠标延迟触发时间（默认150）
				defaultPlay:true,//默认是否执行效果（默认true）
				returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
				});
		</script> 
   
	</div>





	<div class=" admin-content">	
		<div class="daohang">
			<ul>
				<li><a href="/teacher" type="button" class="am-btn am-btn-default am-radius am-btn-xs none-author">责任班级</a> </li>				
				<li><a href="/addteachclass" type="button" class="am-btn am-btn-default am-radius am-btn-xs none-author">分配班级</a> </li>				
			</ul>
		</div>
	

    	
    	<div class="admin-biaogelist">
      			<div class="listbiaoti am-cf">
       				 <ul class="am-icon-cart-plus">
          					权限分配
        			</ul>
       				<dl class="am-icon-home" style="float: right;">当前位置： 权限分配 ><a href="#"> 分配班级</a></dl>

      			</div>
      			<form class="am-form am-g">
          			<table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
         				 <thead>
            				<tr class="am-success am-text-center">              
             					 <th class="table-id am-text-center" style="width:8%;">ID</th>
              					 <th class="">老师</th>
              					 
              					 <th class="am-hide-sm-only" style="width: 20%;">操作</th>
                    		</tr>
          				 </thead>
          				 
          				 <tbody>
            				<tr th:each="infos : ${teacherinfo}" >             
              					<td class="am-text-center"  th:text="${infos.uId}">14</td>
               					<td><a href="#" th:text="${infos.uName}">Wangerer</a></td>
              					
			 					<td>
               						<div class="am-btn-toolbar">
                   						 <div class="am-btn-group am-btn-group-xs">
                   
                    						 <a th:href="@{/inserteachclass/}+${infos.uId}" class="am-btn am-btn-default am-btn-xs am-text-success am-round am-icon-plus" title="分配班级"></a>
                  
                   						 </div>
                  					</div>	
             					</td>
            				</tr>
           				</tbody>
       				 </table>
       
        			<hr />
     			 </form>

     			<div class="foods">
       				 <ul> @zelda-2019 </ul>
       				 <dl>
          				<a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
       				 </dl>
      			</div>
    	</div>
		
	</div>

</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]--> 

<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->



</body>
</html>